<html>
  <head>
    <link rel="stylesheet" type="text/css" href="index.css">
  </head>
  <body>
    <h1>current time is <span id="time"><%= time %></span></h1>
    <button id="clock">click here to clock</button>
  </body>
  <script src="index.js"></script>
</html>
